/* Connection Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Common and mobile styles */
* {
    box-sizing: border-box;
}

img {
    max-width: 25em;
    width: 100%;
}

body {
    margin: 0;
    padding: 1.5em;

    font: 500 1.2em 'Open Sans', sans-serif;
    background-color: #f6f6ec;
}

/* Base accordion logic */
input[name="accordion"] {
    display: none;
}

.accordion-content {
    display: none;
}

input[name="accordion"]:checked + .accordion-item .accordion-content {
    display: block;
}
